apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka-load-tester
spec:
  template:
    spec:
      containers:
      - name: load-tester
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 300m
            memory: 256Mi