apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka-load-tester
spec:
  template:
    spec:
      containers:
      - name: load-tester
        resources:
          requests:
            cpu: 200m
            memory: 256Mi
          limits:
            cpu: 1000m
            memory: 512Mi