apiVersion: v1
kind: Service
metadata:
  name: kafka-load-tester
  labels:
    app: kafka-load-tester
spec:
  type: ClusterIP
  ports:
  - port: 8000
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app: kafka-load-tester